.catalog {
  background-color: #f8f8f8;
}

.catalog__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 50px 0 60px 0;

  @media (min-width: $tablet-width) {
   width: 728px;
  }

  @media (min-width: $desktop-width) {
   width: 1360px;
  }
}

.catalog__title {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #7859cf;
  margin: 0;
}

.catalog__text {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.catalog__title-scale {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  text-align: left;
  margin-bottom: 30px;
}

.catalog__scale {
  padding: 0;
  outline: none;
  border: 0;
}

.catalog__range-scale {
  position: relative;
  width: 280px;
  height: 2px;
  background-color: #e2e2e2;
  margin-bottom: 32px;
}

.range__bar {
  position: absolute;
  width: 241px;
  height: 4px;
  top: -1px;
  left: 0px;
  background-color: rgba(144, 112, 236, 1)
}

.range__bar-range-toggle {
  position: absolute;
  top: -11px;
  left: 0;
  width: 24px;
  height: 24px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #9070ec;

    &--max {
      top: -11px;
      left: 233px;
  }
}

.catalog__price-field {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.catalog__input {
  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid #9070ec;
  border-radius: 4px;
  width: 125px;
  height: 40px;
  text-align: center;
  font-family: $font-drink;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #bdbdbd;
  margin-bottom: 24px;

  &--right {
    color: #333333;
  }
}

.catalog__price-vector {
  position: absolute;
  top: 20px;
  left: 136px;
  width: 10px;
  height: 2px;
  background: #bdbdbd;
  margin: 0;
}

.catalog__filter {
  padding: 0;
  outline: none;
  border: 0;
}

.catalog__title-filter {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.catalog__list {
  padding: 0 0 0 54px;
  margin: 0;
  list-style-type: none;

  &--country {
    padding: 0 0 0 54px;
  }
}

.catalog__item {
  margin-bottom: 20px;
}

.catalog__control {
  position: relative;
}

.catalog__control-label-radio {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.catalog__control-block {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog__control-block[type="radio"] + .catalog__mark {
  position: absolute;
  top: -4px;
  left: -52px;
  width: 24px; //обводки радиокнопок
  height: 24px; //обводки радиокнопок
}

.catalog__mark {
  position: absolute;
  top: -4px;
  left: -53px;
  border: 2px solid #bdbdbd;
  width: 42px; //чекбоксы размеры
  height: 24px;//чекбоксы размеры
  border-radius: 18px; //закругление кнопок всех

  &--check {
    background: #bdbdbd;
    border-radius: 12px;
    border: 0;
  }
}

.catalog__control-block[type="radio"]:checked + .catalog__mark::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  top: 2px;
  left: 3px;
  background-color: #7859cf;
  border-radius: 50%;
}

.catalog__control-block[type="radio"]:focus + .catalog__mark {
  border-radius: 50%;
  box-shadow: 0 0 0 2px #7859cf;
}


.catalog__country {
  padding: 0;
  outline: none;
  border: 0;
}

.catalog__control-label {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.catalog__control-check {
  position: relative;
}

.catalog__control-block[type="checkbox"]:focus + .catalog__mark {
  background: #7859cf;
  border-radius: 12px;
}

.catalog__control-block[type="checkbox"]:checked + .catalog__mark::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  top: 2px;
  left: 19px;
  background-color: #ffffff;
  border-radius: 50%;
}

.catalog__button {
  border: 0;
  outline: none;
  background: 0;
  padding: 0;
  font-family: $font-drink;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7859cf;
  min-width: 280px;
  background: #ffffff;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 40px;
}

.catalog__filter-text {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin: 0;
  margin-right: 18px;


  &--item {
    color: #7859cf;
    text-align: right;
    margin: 0;
    align-items: center;
    margin-right: 10px;
  }
}

.catalog__filter-block {
  display: flex;
  margin-bottom: 20px;
}

.catalog__filter-button {
  border: 0;
  background: 0;
  padding: 0;
  padding-bottom: 2px;
}

.catalog__list-filter {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog__item-filter {
  min-height: 440px;
  min-width: 280px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 20px;
}

.catalog__image-filter {
  padding: 40px 75px 0 75px;
  margin-bottom: 24px;
}

.catalog__title-filter {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  text-align: left;
}

.catalog__text-filter {
  margin: 0;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 16px;
  font-family: $font-drink;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;

}

.catalog__button-block {
  width: 242px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
}

.catalog__button-block-text {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

.catalog__button-filter {
  background: #7859cf;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: 0;
  outline: none;
  padding: 8px 20px 8px 20px;
}

.catalog__title-sorting {
  font-family: $font-drink;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  padding-left: 20px;
}

.catalog__toggles {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.catalog__toggle {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 4px;
  border: 0;
  outline: none;
  padding: 0;
  font-family: $font-drink;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #7859cf;

  &--current {
    background: none;
    font-weight: 600;
    color: #333333;
  }
}
