.user__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-family: $font-drink;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #333333;
  }
}
